<div class="container-fluid d-flex flex-column px-5">
    <div class="table-title my-3 d-flex justify-content-between py-3">
        <h2>Gérer les {{ name }}</h2>
        <button class="btn bg-success text-white" (click)="add()">
            <i class="fa-solid fa-plus"></i> NEW
        </button>
    </div>
    <table class="table table-hover table-striped">
        <thead class="table-dark">
            <tr>
                <th *ngFor="let column of columns">{{ column }}</th>
                <th>ACTIONS</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of objects">
                <td *ngFor="let field of fields">{{ field(row) }}</td>
                <td>
                    <a href="#" [routerLink]="[editPath, row.id]" class="btn"><i class='fas fa-edit edit'></i></a>
                    <button type="button" (click)="deleteConfirmation(row.id)" class="btn text-danger"><i class="fa-solid fa-trash-can"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>